<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Tweet wallet | Dashboard</title>

        <!-- Bootstrap core CSS -->
        <link href="/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/314d085fdf.js" crossorigin="anonymous"></script>
        <!-- Favicons -->



        <style>
            .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            }

            body {
                background: #eafbea;
            }

            nav {
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: #fff;
                z-index: 3;
            }

            .imgnone {
                display: none;
            }

            .nav-item span {
                display: block;
            }

            ul {
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 10px;
                text-align: center;
            }

            .current {
                background-color: #eafbea;
                border-radius: 5px;
            }

            .current {
                display: inherit;
            }

            .current i {
                color: green;
            }

            .username {
                font-size: 24px;
                font-weight: 600;
            }

            .fa-user-circle {
                font-size: 42px;
            }

            .shield {
                display: block;
            }

            .shield i {
                font-size: 32px;
            }

            .currentplan {
                border: 1px solid green;
                padding: 16px;
                border-radius: 6px;
            }

            .cplan {
                font-weight: 100;
                font-size: 13px;
            }

            .todaytask::before {
                content: "";
                background-color: rgba(0, 102, 0, 0.278);
                bottom: 0;
                height: 15px;
                width: 150px;
                position: absolute;
                z-index: -1;
            }

            .todaytask {
                position: relative;
                z-index: 1;
            }

            .withdrawss {
                border: 1px solid green;
                padding: 16px;
                border-radius: 6px;
            }

            .amount {
                font-size: 32px;
            }

            .copy {
                font-size: 16px;
            }

            /*primary-color: #006600;
        secondary-color: #003300;

        #309030
      */

            /* @media (min-width: 1030px) {
                nav {
                    position: fixed;
                    left: 0 !important;
                    background-color: #fff;
                    z-index: 1;
                    width: 250px;
                    height: 100vh;
                    padding-top: 25px;
                }
                
               nav a{
                    display: block!important;
                }

                  ul {
                  list-style: none;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  margin: 25px;
                  text-align: center;
                  }

                  main{
                      width: calc(100%-250px)!important;
                      margin: auto!important;
                      position: absolute;
                      right: 10%;
                      overflow: auto;
                  }
            } */

        </style>
    </head>
    <body>
        <nav class="shadow-sm">
            <a class="imgnone" href="index.html">
                <img src="img/TweetWallet green.jpg" width="200" height="50" alt="">
            </a>

            <ul>
                <li class="nav-item navigation current" data-tab="tab-1">
                    <a class="nav-link link-text text-ref text-muted" href="/dashboard"><span><i
                                class="fas fa-rocket"></i></span> Choose a plan</a>
                </li>
                <li class="nav-item navigation" data-tab="tab-2">
                    <a class="nav-link link-text text-ref text-muted" href="/task"><span><i
                                class="fas fa-life-ring"></i></span> Overview</a>
                </li>
                <li class="nav-item navigation" data-tab="tab-3">
                    <a class="nav-link link-text text-ref text-muted" href="/withdraw"><span><i
                                class="fas fa-money-check"></i></span> Withdraw</a>
                </li>
            </ul>
        </nav>

        <main role="main" class="mt-4">
            <div class="container">
                <header class="row justify-content-between pt-4 pl-3 pr-3 pb-5">
                    <div>
                        <span class="text-muted">Howdy</span> <span class="username"> <%= user.username %> &#9995;</span>
                    </div>
                    <a class="pr-1" href="/profile"><i class="fas text-success fa-user-circle">

                        </i></a>
                </header>
                <%- include('partials/messages') %>


                <!--CHOOSE A PLAN-->
                <div id="tab-1" class=" pb-5 mb-5 current">
                    <h5 class="pl-1 text-muted text-uppercase">Choose a plan</h5>
                    <div class="row mb-4">
                        <div class="col-sm-6">
                            <div class="card bg-secondary  mb-3">
                                <!-- <form target="_blank" action="/subscription/<%= plan._id %>?newMethod=PUT" method="post"> -->
                                    <form target="_blank" action="/subscription/<%= user._id %>" method="post">
                                <div class="card-header font-weight-bold plan" data-plan="Mercury">Mercury</div>
                                <div class="card-body card-paragraph">
                                    <h5 class="card-title">Fee: 2,500 Naira</h5>
                                    <p class="card-text"><span class="">Task/Target:</span> 10 Retweets
                                    </p>
                                    <p class="card-text"><span class="">Daily Revenue:</span> 150 Naira
                                    </p>
                                    <input type="text" name="id" value="<%= plan._id %>" class="d-none">
                                    <input type="text" name="username" value="<%= user.username %>" class="d-none">
                                    <input type="text" name="accountnumber" value="<%= user.accountnumber %>" class="d-none">
                                    <input type="text" name="accountbank" value="<%= user.accountbank %>" class="d-none">
                                    <input type="text" name="daily" value="150" class="d-none">
                                    <input type="text" name="sub" value="mercury" class="d-none">

                                    <input
                                        onclick="window.location.href = 'https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20MERCURY%20plan';"
                                        type="submit" class="btn card-paragraph btn-success planbtn" value="Suscribe">
                               
                                </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card bg-info  mb-3">
                                <form target="_blank" action="/subscription/<%= user._id %>" method="post">
                                    <div class="card-header font-weight-bold plan" data-plan="Venus">Venus</div>
                                    <div class="card-body card-paragraph">
                                        <h5 class="card-title">Fee: 5,000 Naira</h5>
                                        <p class="card-text"><span class="">Task/Target:</span> 7 Retweets
                                        </p>
                                        <p class="card-text"><span class="">Daily Revenue:</span> 300 Naira
                                        </p>
                                         <input type="text" name="username" value="<%= user.username %>" class="d-none">
                                         <input type="text" name="accountnumber" value="<%= user.accountnumber %>"
                                             class="d-none">
                                         <input type="text" name="accountbank" value="<%= user.accountbank %>"
                                             class="d-none">
                                         <input type="text" name="daily" value="300" class="d-none">
                                         <input type="text" name="sub" value="venus" class="d-none">

                                
                                     <input
                                        onclick="window.location.href =
                                        'https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20VENUS%20plan';"
                                        type="submit" class="btn card-paragraph btn-primary planbtn" value="Suscribe">
                                </form>
                                
                                </div>  
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card bg-primary mb-3">
                                 <form target="_blank" action="/subscription/<%= user._id %>" method="post">
                                     <div class="card-header font-weight-bold plan" data-plan="Earth">Earth</div>
                                     <div class="card-body card-paragraph">
                                         <h5 class="card-title">Fee: 10,000 Naira</h5>
                                         <p class="card-text"><span class="">Task/Target:</span> 5 Retweets
                                         </p>
                                         <p class="card-text"><span class="">Daily Revenue:</span> 600 Naira
                                         </p>
                                          <input type="text" name="username" value="<%= user.username %>"
                                              class="d-none">
                                          <input type="text" name="accountnumber" value="<%= user.accountnumber %>"
                                              class="d-none">
                                          <input type="text" name="accountbank" value="<%= user.accountbank %>"
                                              class="d-none">
                                          <input type="text" name="daily" value="600" class="d-none">
                                          <input type="text" name="sub" value="earth" class="d-none">


                                     <input
                                        onclick="window.location.href =
                                        'https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20EARTH%20plan';"
                                        type="submit" class="btn card-paragraph btn-success planbtn" value="Suscribe">
                                </form>
                               
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card bg-warning mb-3">
                                <form target="_blank" action="/subscription/<%= user._id %>" method="post">
                                 <div class="card-header font-weight-bold plan" data-plan="Mars">Mars</div>
                                 <div class="card-body card-paragraph">
                                     <h5 class="card-title">Fee: 30,000</h5>
                                     <p class="card-text"><span class="">Task/Target:</span> 3 Retweets
                                     </p>
                                     <p class="card-text"><span class="">Daily Revenue:</span> 1800 Naira
                                     </p>
                                      <input type="text" name="username" value="<%= user.username %>" class="d-none">
                                      <input type="text" name="accountnumber" value="<%= user.accountnumber %>"
                                          class="d-none">
                                      <input type="text" name="accountbank" value="<%= user.accountbank %>"
                                          class="d-none">
                                      <input type="text" name="daily" value="1800" class="d-none">
                                      <input type="text" name="sub" value="mars" class="d-none">


                                     <input
                                        onclick="window.location.href = 'https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20MARS%20plan';"
                                        type="submit" class="btn card-paragraph btn-info planbtn" value="Suscribe">
                                </form>                                 
                               
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card bg-success mb-3">
                                <form target="_blank" action="/subscription/<%= user._id %>" method="post">
                                 <div class="card-header font-weight-bold plan" data-plan="Sun">Sun</div>
                                 <div class="card-body card-paragraph">
                                     <h5 class="card-title">Fee: 60,000 Naira</h5>
                                     <p class="card-text"><span class="">Task/Target:</span> No Retweet
                                     </p>
                                     <p class="card-text"><span class="">Daily Revenue:</span> 3600 Naira
                                     </p>
                                      <input type="text" name="username" value="<%= user.username %>" class="d-none">
                                      <input type="text" name="accountnumber" value="<%= user.accountnumber %>"
                                          class="d-none">
                                      <input type="text" name="accountbank" value="<%= user.accountbank %>"
                                          class="d-none">
                                      <input type="text" name="daily" value="3600" class="d-none">
                                      <input type="text" name="sub" value="sun" class="d-none">


                                     <input
                                        onclick="window.location.href =
                                        'https://wa.me/+2349044300896?text=Hello%20Admin%0AI%20want%20to%20subscribe%20to%20the%20SUN%20plan';"
                                        type="submit" class="btn card-paragraph btn-secondary planbtn" value="Suscribe">
                                </form>
                               
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

              

                <!--WITHDRAWAL-->


                <!-- <div id="tab-3" class=" pb-5">
                    <h3 class="todaytask">Withdraw Funds</h3>
                    <div class="col-12 mt-3">
                        <h6 class="text-muted m-0">INFO</h6>
                        <div class="alert h5-text alert-success">

                            You can only withdraw on Saturdays. <br>
                            Payments would be processed through Saturday, Sunday. Latest Monday, You will receive the
                            alert.

                        </div>
                    </div>
                    <hr> -->
                    <!-- <div class="container pt-5">
                        <div class="col-sm-6 withdrawss">
                            <h4 class="cplan">BALANCE</h4>
                            <h4 class="amount"><span id="dashBalance"></span> <span></span></h4>
                        </div>
                    </div> -->




                    <!-- <div class="container pt-3 mb-5">
                        <div class="row">
                            <div class="col-md-6">

                                <div id="result"></div>

                                <form action="/withdraw" method="POST" id="form">
                                    <div class="form-group">
                                        <label class="d-none">Username</label>
                                        <input type="text" name="username" id="username"
                                            class="form-control d-none input-md"
                                            tabindex="1" value="<%= user.username %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label>Withdrawal Amount (₦)</label>
                                        <input type="number" name="amountwithdraw" id="amountWithdraw"
                                            class="form-control input-md" tabindex="1" required="">
                                    </div>

                                    <div class="form-group">
                                        <label>Bank Account Number</label>
                                        <input type="number" name="accountnumber" id="accountnumber"
                                            class="form-control input-md" tabindex="1" value="<%= user.accountnumber %>"
                                            required>
                                    </div>

                                    <div class="form-group">
                                        <label>Bank</label>
                                        <input type="text" id="amount" class="form-control input-md" name="accountbank"
                                            value="<%= user.accountbank %>" tabindex="1" required>
                                    </div>

                                    <button type="submit" id="submitBtn" class="btn bg-success text-light">Make
                                        Withdrawal</button>
                                    <br><br>
                                </form>
                            </div> -->



                            <!-- <div class="col-md-12 p-3">

                                <h3>Withdrawal History</h3>
                                <div class="table-responsive-sm">
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Date</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td scope="row" colspan="4" class="text-center"><strong>No
                                                        Withdrawals
                                                        yet!</strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            divider 

                                end divider
                            </div> 


                        </div> 
                    </div>

                </div> -->
            </div>
        </main>
        <script src="js/dashboard.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
        </script>
        <script src="/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous">
        </script>
        <script src="js/app.js"></script>
    </body>
</html>
